pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1
xgboost==2.0.3
sentence-transformers==2.5.1
faiss-cpu==1.7.4
streamlit==1.32.2
pyarrow==15.0.0
fastparquet==2024.2.0
matplotlib==3.8.3
seaborn==0.13.2
nltk==3.8.1
spacy==3.7.2
transformers==4.37.2
torch==2.2.1
tqdm==4.66.2
regex==2023.12.25
